@import "tailwindcss";

  body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
  }

  .embla {
  overflow: hidden;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 85%;
}

@media (min-width: 640px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 33.333%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 25%;
  }
}
